@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FED0BB;
  --foreground: #461220;
  --color-2: #fcb9b2;
  --color-4: #8C2F39;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FED0BB;
    --foreground: #461220;
    --color-2: #fcb9b2;
    --color-4: #8C2F39;
  }
}

body {
  color: var(--foreground);
  background: var(--color-2);
  font-family: Arial, Helvetica, sans-serif;
}
